<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html"/>
  <title>LED APP DEMO</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <style type="text/css">
    body {
      background-color: #DADADA;
      padding-top: 5%;
    }
    button {
      min-width: 100px;
    }
    button.ui.button.white {
      background-color: white;
    }
  </style>
</head>
<body>
<div id="app"></div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/x-template" id="template">
  <div class="ui raised very padded text container segment">
    <h2 class="ui header">LED APP DEMO</h2>
    <div class="ui form">
      <div class="field">
        <label>API ROOT</label>
        <input type="text" v-model="apiRoot">
      </div>
      <div class="field">
        <label>API KEY</label>
        <input type="text" v-model="apiKey">
      </div>
      <div class="field">
        <label>THING NAME</label>
        <input type="text" v-model="thingName">
      </div>
      <div class="ui hidden divider"></div>
      <div class="ui teal inverted segment">
        <div class="field">
          <label>POWER</label>
          <div class="ui toggle checkbox">
            <input type="checkbox" v-model="power">
            <label v-if="power">ON</label>
            <label v-else>OFF</label>
          </div>
        </div>
        <div class="field">
          <label>COLOR</label>
          <div class="ui buttons">
            <button class="ui button" :class="{gray: color!='white', white: color=='white'}" @click="color='white'">WHITE</button>
            <button class="ui button" :class="{gray: color!='red', red: color=='red' }" @click="color='red'">RED</button>
            <button class="ui button" :class="{gray: color!='green', green: color=='green' }" @click="color='green'">GREEN</button>
          </div>
        </div>
        <div class="field">
          <label>BRIGHTNESS</label>
          <input type="range" step="10" v-model="brightness" @change="changeBrightness"/>
          <label>{{brightness}}</label>
        </div>
        <button class="ui blue button" @click="checkStatus">Check Status</button>
        <div v-if="result">
          <div class="ui hidden divider"></div>
          <label>RESPONSE</label>
          <div v-if="result" class="ui message" :class="{ positive: result && !error , negative: result && error}">
            {{result}}
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
<script>
  new Vue({
    el: '#app',
    template: '#template',
    data: {
      apiRoot: null,
      apiKey: null,
      thingName: null,
      message: null,
      result: null,
      error: false,
      power: false,
      brightness: 50,
      color: 'white'
    },
    watch: {
      power: function (val) {
        this.updateState({ power: val ? 'on' : 'off'})
      },
      color: function (val) {
        this.updateState({ color: val })
      }
    },
    methods: {
      changeBrightness() {
        this.updateState({ brightness: this.brightness })
      },
      updateState(state) {
        this.fetch(`${this.apiRoot}/leds/${this.thingName}/state`, 'PUT', JSON.stringify(state))
      },
      checkStatus() {
        this.fetch(`${this.apiRoot}/leds/${this.thingName}/state`, 'GET')
      },
      async fetch(url, method, body) {
        try {
          const res = await fetch(url, {
            mode: 'cors',
            method,
            body,
            headers: {
              'Content-type':'application/json',
              'x-api-key': this.apiKey
            }
          })
          this.result = await res.json()
          this.error = false
        } catch (e) {
          this.result = e
          this.error = true
        }
      }
    }
  })
</script>
</body>
</html>
