<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html"/>
  <title>LED APP DEMO</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <style type="text/css">
    body {
      background-color: #DADADA;
      padding-top: 5%;
    }
    button {
      min-width: 100px;
    }
    button.ui.button.white {
      background-color: white;
    }
    div.ui.message {
      min-height: 66px;
    }
  </style>
</head>
<body>
<div id="app"></div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/x-template" id="template">
  <div class="ui raised very padded text container segment">
    <h2 class="ui header">LED APP DEMO</h2>
    <div class="ui form">
      <div class="field">
        <label>API ROOT</label>
        <input type="text" v-model="apiRoot">
      </div>
      <div class="field">
        <label>API KEY</label>
        <input type="text" v-model="apiKey">
      </div>
      <div class="field">
        <label>THING NAME</label>
        <input type="text" v-model="thingName">
      </div>
      <div class="ui hidden divider"></div>
      <div class="ui teal inverted segment">
        <div class="field">
          <label>POWER</label>
          <div class="ui toggle checkbox">
            <input type="checkbox" v-model="power" @change="changePower">
            <label v-if="power">ON</label>
            <label v-else>OFF</label>
          </div>
        </div>
        <div class="field">
          <label>COLOR</label>
          <div class="ui buttons">
            <button class="ui button" :class="{gray: color!='white', white: color=='white'}" @click="changeColor('white')">WHITE</button>
            <button class="ui button" :class="{gray: color!='green', green: color=='green' }" @click="changeColor('green')">GREEN</button>
            <button class="ui button" :class="{gray: color!='red', red: color=='red' }" @click="changeColor('red')">RED</button>
          </div>
        </div>
        <div class="field">
          <label>BRIGHTNESS</label>
          <input type="range" step="10" v-model.number="brightness" @change="changeBrightness"/>
          <label>{{brightness}}</label>
        </div>
        <button class="ui blue button" @click="checkStatus" :class="{ disabled: disabled }">Check Status</button>
        <div v-if="resultMessage">
          <div class="ui hidden divider"></div>
          <label>RESPONSE</label>
          <div class="ui message" :class="messageClass">
            {{resultCode}}
            <br v-if="resultCode" />
            {{resultMessage}}
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
<script>
  new Vue({
    el: '#app',
    template: '#template',
    data: {
      apiRoot: null,
      apiKey: null,
      thingName: null,
      power: false,
      brightness: 50,
      color: 'white',
      resultCode: null,
      resultMessage: null,
    },
    computed: {
      url() {
        return `${this.apiRoot}/leds/${this.thingName}/state`
      },
      disabled() {
        return !(this.apiRoot && this.apiKey && this.thingName)
      },
      messageClass() {
        const resultStatus = this.resultCode && (this.resultCode / 100 | 0) === 2
        return {
          'positive': resultStatus,
          'negative': resultStatus === false
        }
      }
    },
    methods: {
      changePower() {
        this.updateState({ power: this.power ? 'on' : 'off'})
      },
      changeBrightness() {
        this.updateState({ brightness: this.brightness })
      },
      changeColor(color) {
        this.color = color
        this.updateState({ color })
      },
      updateState(state) {
        this.fetch('PUT', JSON.stringify(state))
      },
      async checkStatus() {
        await this.fetch('GET')
        const { power, color, brightness } = this.resultMessage
        if (power !== undefined) this.power = power === 'on'
        if (color !== undefined) this.color = color
        if (brightness !== undefined) this.brightness = brightness
      },
      async fetch(method, body) {
        if (this.disabled) {
          return
        }
        try {
          this.resultCode = null
          this.resultMessage = 'processing...'
          const res = await fetch(this.url, {
            mode: 'cors',
            method,
            body,
            headers: {
              'Content-type':'application/json',
              'x-api-key': this.apiKey
            }
          })
          this.resultCode = res.status
          if (res.ok) {
            this.resultMessage =  await res.json()
          } else {
            try {
              const error = await res.json()
              this.resultMessage = error.message
            } catch {
              this.resultMessage = res.statusText
            }
          }
        } catch (e) {
          this.resultCode = null
          this.resultMessage = e
        }
      }
    }
  })
</script>
</body>
</html>
